*/node_modules
*/config/env
*/volumes
*/dist

data/*/*.csv
data/*/*.json
data/*/__pycache__

data/*.sql

backend/*.sql
backend/*.zip
backend/tar

frontend/*.zip

images

spark/.ipynb_checkpoints
spark/checkpoint_dir

note.txt
node_modules
