*/node_modules
*/image
*/dist
*/config/env/production.env
*/config/ca

data/*/*.csv
data/*/*.json
data/*/__pycache__

data/*.sql

backend/*.sql
backend/*.zip
backend/tar
backend/apps/recommendation-service/*.pkl

frontend/*.zip

*/volumes

images

spark/.ipynb_checkpoints
spark/checkpoint_dir

note.txt
node_modules
