*/node_modules
*/volumes
*/dist
*/config/env/production.env

data/*/*.csv
data/*/*.json
data/*/__pycache__

data/*.sql

backend/*.sql
backend/*.zip
backend/tar
backend/apps/recommendation-service/*.pkl

frontend/*.zip

images

spark/.ipynb_checkpoints
spark/checkpoint_dir

note.txt
node_modules
